---
title: Blog
layout: page.html
---

<section class="row">

  <div class="large-12 columns">

    <h2>
      Blog
    </h2>

    {{#withSort posted 'data.posted'}}

      <ul class="list-posts">

        {{#each pages}}

        <li>

          <div class="post-meta">
            Posted on
            <time datetime="{{ data.posted }}">
              {{ formatDate data.posted "%d %B, %Y" }}
            </time>
          </div>

          <h3>
            <a href="/blog/{{ basename }}.html">

              {{#if data.picture}}
                <img src="{{ data.picture }}" class="post-picture">
              {{/if}}

              {{ data.title }}
            </a>
          </h3>

          <div class="post-summary">
            {{truncate page 31 "..."}}
          </div>

          <a href="/blog/{{ basename }}.html">
            Read more
          </a>

        </li>

        {{/each}}

      </ul>

    {{/withSort}}

  </div>

</section>

